# Combining data for analysis

## Concatenating data

### Combining rows of data

The dataset you'll be working with here relates to NYC Uber data. The original dataset has all the originating Uber pickup locations by time and latitude and longitude. For didactic purposes, you'll be working with a very small portion of the actual data.

Three DataFrames have been pre-loaded: uber1, which contains data for April 2014, uber2, which contains data for May 2014, and uber3, which contains data for June 2014. Your job in this exercise is to concatenate these DataFrames together such that the resulting DataFrame has the data for all three months.

In [2]:
import pandas as pd

uber1 = pd.DataFrame({'Date/Time': ['4/1/2014 0:11:00', '4/1/2014 0:17:00', '4/1/2014 0:21:00', '4/1/2014 0:28:00', '4/1/2014 0:33:00'],
                      'Lat': [40.768999999999998, 40.726700000000001, 40.7316, 40.758800000000001, 40.759399999999999],
                      'Lon': [-73.954899999999995, -74.034499999999994, -73.987300000000005, -73.977599999999995, -73.972200000000001],
                      'Base': ['B02512', 'B02512', 'B02512', 'B02512', 'B02512']    
})

uber2 = pd.DataFrame({'Date/Time': ['5/1/2014 0:02:00', '5/1/2014 0:06:00', '5/1/2014 0:15:00', '5/1/2014 0:17:00', '5/1/2014 0:17:00'],
                      'Lat': [40.752099999999999, 40.6965, 40.746400000000001, 40.746299999999998, 40.759399999999999],
                      'Lon': [-73.991399999999999, -73.971500000000006, -73.983800000000002, -74.001099999999994, -73.973399999999998],
                      'Base': ['B02512', 'B02512', 'B02512', 'B02512', 'B02512']
})

uber3 = pd.DataFrame({'Date/Time': ['6/1/2014 0:00:00', '6/1/2014 0:01:00', '6/1/2014 0:04:00', '6/1/2014 0:04:00', '6/1/2014 0:07:00'],
                      'Lat': [40.729300000000002, 40.713099999999997, 40.3461, 40.755499999999998, 40.688000000000002],
                      'Lon': [-73.992000000000004, -74.009699999999995, -74.661000000000001, -73.9833, -74.183099999999996],
                      'Base': ['B02512', 'B02512', 'B02512', 'B02512', 'B02512']
})

In [4]:
# Concatenate uber1, uber2, and uber3: row_concat
row_concat = pd.concat([uber1, uber2, uber3])

# Print the shape of row_concat
print(row_concat.shape)

# Print the head of row_concat
print(row_concat)

(15, 4)
     Base         Date/Time      Lat      Lon
0  B02512  4/1/2014 0:11:00  40.7690 -73.9549
1  B02512  4/1/2014 0:17:00  40.7267 -74.0345
2  B02512  4/1/2014 0:21:00  40.7316 -73.9873
3  B02512  4/1/2014 0:28:00  40.7588 -73.9776
4  B02512  4/1/2014 0:33:00  40.7594 -73.9722
0  B02512  5/1/2014 0:02:00  40.7521 -73.9914
1  B02512  5/1/2014 0:06:00  40.6965 -73.9715
2  B02512  5/1/2014 0:15:00  40.7464 -73.9838
3  B02512  5/1/2014 0:17:00  40.7463 -74.0011
4  B02512  5/1/2014 0:17:00  40.7594 -73.9734
0  B02512  6/1/2014 0:00:00  40.7293 -73.9920
1  B02512  6/1/2014 0:01:00  40.7131 -74.0097
2  B02512  6/1/2014 0:04:00  40.3461 -74.6610
3  B02512  6/1/2014 0:04:00  40.7555 -73.9833
4  B02512  6/1/2014 0:07:00  40.6880 -74.1831

### Combining columns of data
Think of column-wise concatenation of data as stitching data together from the sides instead of the top and bottom. To perform this action, you use the same pd.concat() function, but this time with the keyword argument axis=1. The default, axis=0, is for a row-wise concatenation.

You'll return to the Ebola dataset you worked with briefly in the last chapter. It has been pre-loaded into a DataFrame called ebola_melt. In this DataFrame, the status and country of a patient is contained in a single column. This column has been parsed into a new DataFrame, status_country, where there are separate columns for status and country.

In [6]:
import numpy as np

ebola_melt = pd.DataFrame({
    'Date': ['1/5/2015', '1/4/2015', '1/3/2015', '1/2/2015', '12/31/2014'],
    'Day': [289, 288, 287, 286, 284],
    'counts': [2776.0, 2775.0, 2769.0, np.nan, 2730.0]
})

status_country = pd.DataFrame({
    'status': ['Cases', 'Cases', 'Cases', 'Cases', 'Cases'],
    'country': ['Guinea', 'Guinea', 'Guinea', 'Guinea', 'Guinea']
})

In [7]:
# Concatenate ebola_melt and status_country column-wise: ebola_tidy
ebola_tidy = pd.concat([ebola_melt, status_country], axis=1)

# Print the shape of ebola_tidy
print(ebola_tidy.shape)

# Print the head of ebola_tidy
print(ebola_tidy.head())

(5, 5)
         Date  Day  counts country status
0    1/5/2015  289  2776.0  Guinea  Cases
1    1/4/2015  288  2775.0  Guinea  Cases
2    1/3/2015  287  2769.0  Guinea  Cases
3    1/2/2015  286     NaN  Guinea  Cases
4  12/31/2014  284  2730.0  Guinea  Cases

## Finding files that match a pattern

You're now going to practice using the glob module to find all csv files in the workspace. In the next exercise, you'll programmatically load them into DataFrames.

As Dan showed you in the video, the glob module has a function called glob that takes a pattern and returns a list of the files in the working directory that match that pattern.

For example, if you know the pattern is part_ single digit number .csv, you can write the pattern as 'part_?.csv' (which would match part_1.csv, part_2.csv, part_3.csv, etc.)

Similarly, you can find all .csv files with '*.csv', or all parts with 'part_*'. The ? wildcard represents any 1 character, and the * wildcard represents any number of characters.

In [9]:
# Import necessary modules
import pandas as pd
import glob

# Write the pattern: pattern
pattern = 'uber/*.csv'

# Save all file matches: csv_files
csv_files = glob.glob(pattern)

# Print the file names
print(csv_files)

# Load the second file into a DataFrame: csv2
csv2 = pd.read_csv(csv_files[1])

# Print the head of csv2
print(csv2.head())

['uber/uber-raw-data-2014_04.csv', 'uber/uber-raw-data-2014_05.csv', 'uber/uber-raw-data-2014_06.csv']
          Date/Time      Lat      Lon    Base
0  5/1/2014 0:02:00  40.7521 -73.9914  B02512
1  5/1/2014 0:06:00  40.6965 -73.9715  B02512
2  5/1/2014 0:15:00  40.7464 -73.9838  B02512
3  5/1/2014 0:17:00  40.7463 -74.0011  B02512
4  5/1/2014 0:17:00  40.7594 -73.9734  B02512

### Iterating and concatenating all matches

Now that you have a list of filenames to load, you can load all the files into a list of DataFrames that can then be concatenated.

You'll start with an empty list called frames. Your job is to use a for loop to iterate through each of the filenames, read each filename into a DataFrame, and then append it to the frames list.

You can then concatenate this list of DataFrames using pd.concat(). Go for it!

In [10]:
# Create an empty list: frames
frames = []

#  Iterate over csv_files
for csv in csv_files:

    #  Read csv into a DataFrame: df
    df = pd.read_csv(csv)
    
    # Append df to frames
    frames.append(df)

# Concatenate frames into a single DataFrame: uber
uber = pd.concat(frames)

# Print the shape of uber
print(uber.shape)

# Print the head of uber
print(uber.head())

(297, 4)
          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

## Merge data

### 1-to-1 data merge
Merging data allows you to combine disparate datasets into a single dataset to do more complex analysis.

Here, you'll be using survey data that contains readings that William Dyer, Frank Pabodie, and Valentina Roerich took in the late 1920 and 1930 while they were on an expedition towards Antarctica. The dataset was taken from a sqlite database from the Software Carpentry SQL lesson.

Two DataFrames have been pre-loaded: site and visited. Explore them in the IPython Shell and take note of their structure and column names. Your task is to perform a 1-to-1 merge of these two DataFrames using the 'name' column of site and the 'site' column of visited.

In [11]:
site = pd.DataFrame({'name': ['DR-1','DR-3','MSK-4'],
                     'lat': [-49.85, -47.15, -48.87],
                     'long': [-128.57, -126.72, -123.40]
                    })

visited = pd.DataFrame({'ident': [619, 743, 837],
                        'site': ['DR-1','DR-3','MSK-4'],
                        'dated': ['1927-02-08', '1939-01-07', '1932-01-14']
                       })

In [12]:
# Merge the DataFrames: o2o
o2o = pd.merge(left=site, right=visited, left_on='name', right_on='site')

# Print o2o
print(o2o)

     lat    long   name       dated  ident   site
0 -49.85 -128.57   DR-1  1927-02-08    619   DR-1
1 -47.15 -126.72   DR-3  1939-01-07    743   DR-3
2 -48.87 -123.40  MSK-4  1932-01-14    837  MSK-4

### Many-to-1 data merge
In a many-to-one (or one-to-many) merge, one of the values will be duplicated and recycled in the output. That is, one of the keys in the merge is not unique.

Here, the two DataFrames site and visited have been pre-loaded once again. Note that this time, visited has multiple entries for the site column. Confirm this by exploring it in the IPython Shell.

The .merge() method call is the same as the 1-to-1 merge from the previous exercise, but the data and output will be different.

In [14]:
site = pd.DataFrame({'name': ['DR-1','DR-3','MSK-4'],
                     'lat': [-49.85, -47.15, -48.87],
                     'long': [-128.57, -126.72, -123.40]
                    })

visited = pd.DataFrame({'ident': [619, 622, 734, 735, 751, 752, 837, 844],
                        'site': ['DR-1', 'DR-1', 'DR-3', 'DR-3', 'DR-3', 'DR-3', 'MSK-4', 'DR-1'],
                        'dated': ['1927-02-08', '1927-02-10', '1939-01-07', '1930-01-12', '1930-02-26', np.nan, '1932-01-14', '1932-03-22']
                       })

In [15]:
# Merge the DataFrames: m2o
m2o = pd.merge(left=site, right=visited, left_on='name', right_on='site')

# Print m2o
print(m2o)

     lat    long   name       dated  ident   site
0 -49.85 -128.57   DR-1  1927-02-08    619   DR-1
1 -49.85 -128.57   DR-1  1927-02-10    622   DR-1
2 -49.85 -128.57   DR-1  1932-03-22    844   DR-1
3 -47.15 -126.72   DR-3  1939-01-07    734   DR-3
4 -47.15 -126.72   DR-3  1930-01-12    735   DR-3
5 -47.15 -126.72   DR-3  1930-02-26    751   DR-3
6 -47.15 -126.72   DR-3         NaN    752   DR-3
7 -48.87 -123.40  MSK-4  1932-01-14    837  MSK-4

### Many-to-many data merge
The final merging scenario occurs when both DataFrames do not have unique keys for a merge. What happens here is that for each duplicated key, every pairwise combination will be created.


Here, you'll work with the site and visited DataFrames from before, and a new survey DataFrame. Your task is to merge site and visited as you did in the earlier exercises. You will then merge this merged DataFrame with survey.

In [17]:
survey = pd.DataFrame({
    'taken': [619, 619, 622, 622, 734, 734, 734, 735, 735, 735, 751, 751, 751, 752, 752, 752, 752, 837, 837, 837, 844],
    'person': ['dyer', 'dyer', 'dyer', 'dyer', 'pb', 'lake', 'pb', 'pb', np.nan, np.nan, 'pb', 'pb', 'lake', 'lake', 'lake', 'lake', 'roe', 'lake', 'lake', 'roe', 'roe'],
    'quant': ['rad', 'sal', 'rad', 'sal', 'rad', 'sal', 'temp', 'rad', 'sal', 'temp', 'rad', 'temp', 'sal', 'rad', 'sal', 'temp', 'sal', 'rad', 'sal', 'sal', 'rad'],
    'reading': [9.8200000000000003, 0.13, 7.7999999999999998, 0.089999999999999997, 8.4100000000000001, 0.050000000000000003, -21.5, 7.2199999999999998, 0.059999999999999998, -26.0, 4.3499999999999996, -18.5, 0.10000000000000001, 2.1899999999999999, 0.089999999999999997, -16.0, 41.600000000000001, 1.46, 0.20999999999999999, 22.5, 11.25]
})

In [19]:
# Merge site and visited: m2m
m2m = pd.merge(left=site, right=visited, left_on='name', right_on='site')

# Merge m2m and survey: m2m
m2m = pd.merge(left=m2m, right=survey, left_on='ident', right_on='taken')

# Print the first 20 lines of m2m
print(m2m.head(20))

      lat    long   name       dated  ident   site person quant  reading  \
0  -49.85 -128.57   DR-1  1927-02-08    619   DR-1   dyer   rad     9.82
1  -49.85 -128.57   DR-1  1927-02-08    619   DR-1   dyer   sal     0.13
2  -49.85 -128.57   DR-1  1927-02-10    622   DR-1   dyer   rad     7.80
3  -49.85 -128.57   DR-1  1927-02-10    622   DR-1   dyer   sal     0.09
4  -49.85 -128.57   DR-1  1932-03-22    844   DR-1    roe   rad    11.25
5  -47.15 -126.72   DR-3  1939-01-07    734   DR-3     pb   rad     8.41
6  -47.15 -126.72   DR-3  1939-01-07    734   DR-3   lake   sal     0.05
7  -47.15 -126.72   DR-3  1939-01-07    734   DR-3     pb  temp   -21.50
8  -47.15 -126.72   DR-3  1930-01-12    735   DR-3     pb   rad     7.22
9  -47.15 -126.72   DR-3  1930-01-12    735   DR-3    NaN   sal     0.06
10 -47.15 -126.72   DR-3  1930-01-12    735   DR-3    NaN  temp   -26.00
11 -47.15 -126.72   DR-3  1930-02-26    751   DR-3     pb   rad     4.35
12 -47.15 -126.72   DR-3  1930-02-26    751   DR-3     pb  temp   -18.50
13 -47.15 -126.72   DR-3  1930-02-26    751   DR-3   lake   sal     0.10
14 -47.15 -126.72   DR-3         NaN    752   DR-3   lake   rad     2.19
15 -47.15 -126.72   DR-3         NaN    752   DR-3   lake   sal     0.09
16 -47.15 -126.72   DR-3         NaN    752   DR-3   lake  temp   -16.00
17 -47.15 -126.72   DR-3         NaN    752   DR-3    roe   sal    41.60
18 -48.87 -123.40  MSK-4  1932-01-14    837  MSK-4   lake   rad     1.46
19 -48.87 -123.40  MSK-4  1932-01-14    837  MSK-4   lake   sal     0.21

    taken
0     619
1     619
2     622
3     622
4     844
5     734
6     734
7     734
8     735
9     735
10    735
11    751
12    751
13    751
14    752
15    752
16    752
17    752
18    837
19    837