# Cleaning data for analysis

## Data types

### Converting data types
In this exercise, you'll see how ensuring all categorical variables in a DataFrame are of type category reduces memory usage.

The tips dataset has been loaded into a DataFrame called tips. This data contains information about how much a customer tipped, whether the customer was male or female, a smoker or not, etc.

Look at the output of tips.info() in the IPython Shell. You'll note that two columns that should be categorical - sex and smoker - are instead of type object, which is pandas' way of storing arbitrary strings. Your job is to convert these two columns to type category and note the reduced memory usage.

In [3]:
import pandas as pd

tips = pd.read_csv('data/tip.csv')
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null object
tip           244 non-null object
sex           244 non-null object
smoker        244 non-null object
day           244 non-null object
time          244 non-null object
size          244 non-null int64
dtypes: int64(1), object(6)
memory usage: 13.4+ KB

In [4]:
# Convert the sex column to type 'category'
tips.sex = tips.sex.astype('category')

# Convert the smoker column to type 'category'
tips.smoker = tips.smoker.astype('category')

# Print the info of tips
print(tips.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null object
tip           244 non-null object
sex           244 non-null category
smoker        244 non-null category
day           244 non-null object
time          244 non-null object
size          244 non-null int64
dtypes: category(2), int64(1), object(4)
memory usage: 10.1+ KB
None

### Working with numeric data
If you expect the data type of a column to be numeric (int or float), but instead it is of type object, this typically means that there is a non numeric value in the column, which also signifies bad data.

You can use the pd.to_numeric() function to convert a column into a numeric data type. If the function raises an error, you can be sure that there is a bad value within the column. You can either use the techniques you learned in Chapter 1 to do some exploratory data analysis and find the bad value, or you can choose to ignore or coerce the value into a missing value, NaN.

A modified version of the tips dataset has been pre-loaded into a DataFrame called tips. For instructional purposes, it has been pre-processed to introduce some 'bad' data for you to clean. Use the .info() method to explore this. You'll note that the total_bill and tip columns, which should be numeric, are instead of type object. Your job is to fix this.

In [5]:
# Convert 'total_bill' to a numeric dtype
tips['total_bill'] = pd.to_numeric(tips['total_bill'], errors='coerce')

# Convert 'tip' to a numeric dtype
tips['tip'] = pd.to_numeric(tips['tip'], errors='coerce')

# Print the info of tips
print(tips.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    242 non-null float64
tip           242 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null object
time          244 non-null object
size          244 non-null int64
dtypes: category(2), float64(2), int64(1), object(2)
memory usage: 10.1+ KB
None

## Using regular expressions to clean strings

### String parsing with regular expressions
n the video, Dan introduced you to the basics of regular expressions, which are powerful ways of defining patterns to match strings. This exercise will get you started with writing them.

When working with data, it is sometimes necessary to write a regular expression to look for properly entered values. Phone numbers in a dataset is a common field that needs to be checked for validity. Your job in this exercise is to define a regular expression to match US phone numbers that fit the pattern of xxx-xxx-xxxx.

The regular expression module in python is re. When performing pattern matching on data, since the pattern will be used for a match across multiple rows, it's better to compile the pattern first using re.compile(), and then use the compiled pattern to match values.

In [7]:
# Import the regular expression module
import re

# Compile the pattern: prog
prog = re.compile('\d{3}-\d{3}-\d{4}')

# See if the pattern matches
result = prog.match('123-456-7890')
print(bool(result))

# See if the pattern matches
result = prog.match('1123-456-7890')
print(bool(result))

True
False

### Extracting numerical values from strings
Extracting numbers from strings is a common task, particularly when working with unstructured data or log files.

Say you have the following string: 'the recipe calls for 6 strawberries and 2 bananas'.

It would be useful to extract the 6 and the 2 from this string to be saved for later use when comparing strawberry to banana ratios.

When using a regular expression to extract multiple numbers (or multiple pattern matches, to be exact), you can use the re.findall() function. Dan did not discuss this in the video, but it is straightforward to use: You pass in a pattern and a string to re.findall(), and it will return a list of the matches.

In [8]:
# Import the regular expression module
import re

# Find the numeric values: matches
matches = re.findall('\d+','the recipe calls for 10 strawberries and 1 banana')

# Print the matches
print(matches)

['10', '1']

### Pattern matching
In this exercise, you'll continue practicing your regular expression skills. For each provided string, your job is to write the appropriate pattern to match it.

In [9]:
# Write the first pattern
print(bool(re.match(pattern='\d{3}-\d{3}-\d{4}', string='123-456-7890')))

# Write the second pattern
print(bool(re.match(pattern='\$\d*\.\d{2}', string='$123.45')))

# Write the third pattern
print(bool(re.match(pattern='[A-Z]\w*', string='Australia')))

True
True
True

## Using functions to clean data
### Custom functions to clean data
You'll now practice writing functions to clean data.

The tips dataset has been pre-loaded into a DataFrame called tips. It has a 'sex' column that contains the values 'Male' or 'Female'. Your job is to write a function that will recode 'Male' to 1, 'Female' to 0, and return np.nan for all entries of 'sex' that are neither 'Male' nor 'Female'.

Recoding variables like this is a common data cleaning task. Functions provide a mechanism for you to abstract away complex bits of code as well as reuse code. This makes your code more readable and less error prone.

As Dan showed you in the videos, you can use the .apply() method to apply a function across entire rows or columns of DataFrames. However, note that each column of a DataFrame is a pandas Series. Functions can also be applied across Series. Here, you will apply your function over the 'sex' column.

In [10]:
# Define recode_sex()
def recode_sex(sex_value):

    # Return 1 if sex_value is 'Male'
    if sex_value == 'Male':
        return 1
    
    # Return 0 if sex_value is 'Female'    
    elif sex_value == 'Female':
        return 0
    
    # Return np.nan    
    else:
    
        return np.nan

# Apply the function to the sex column
tips['sex_recode'] = tips.sex.apply(recode_sex)

tips.head()

   total_bill   tip     sex smoker  day    time  size sex_recode
0       16.99  1.01  Female     No  Sun  Dinner     2          0
1       10.34  1.66    Male     No  Sun  Dinner     3          1
2       21.01  3.50    Male     No  Sun  Dinner     3          1
3         NaN  3.31    Male     No  Sun  Dinner     2          1
4       24.59  3.61  Female     No  Sun  Dinner     4          0

### Lambda functions

You'll now be introduced to a powerful Python feature that will help you clean your data more effectively: lambda functions. Instead of using the def syntax that you used in the previous exercise, lambda functions let you make simple, one-line functions.

For example, here's a function that squares a variable used in an .apply() method:
```
def my_square(x):
    return x ** 2

df.apply(my_square)
```
The equivalent code using a lambda function is:
```
df.apply(lambda x: x ** 2)
```
The lambda function takes one parameter - the variable x. The function itself just squares x and returns the result, which is whatever the one line of code evaluates to. In this way, lambda functions can make your code concise and Pythonic.

The tips dataset has been pre-loaded into a DataFrame called tips. Your job is to clean its 'total_dollar' column by removing the dollar sign. You'll do this using two different methods: With the .replace() method, and with regular expressions. The regular expression module re has been pre-imported.

In [11]:
tips['total_dollar'] = ['$16.99', '$10.34', '$21.01', '$23.68', '$24.59', '$25.29', '$8.77', '$26.88', '$15.04', '$14.78', '$10.27', '$35.26', '$15.42', '$18.43', '$14.83', '$21.58', '$10.33', '$16.29', '$16.97', '$20.65', '$17.92', '$20.29', '$15.77', '$39.42', '$19.82', '$17.81', '$13.37', '$12.69', '$21.7', '$19.65', '$9.55', '$18.35', '$15.06', '$20.69', '$17.78', '$24.06', '$16.31', '$16.93', '$18.69', '$31.27', '$16.04', '$17.46', '$13.94', '$9.68', '$30.4', '$18.29', '$22.23', '$32.4', '$28.55', '$18.04', '$12.54', '$10.29', '$34.81', '$9.94', '$25.56', '$19.49', '$38.01', '$26.41', '$11.24', '$48.27', '$20.29', '$13.81', '$11.02', '$18.29', '$17.59', '$20.08', '$16.45', '$3.07', '$20.23', '$15.01', '$12.02', '$17.07', '$26.86', '$25.28', '$14.73', '$10.51', '$17.92', '$27.2', '$22.76', '$17.29', '$19.44', '$16.66', '$10.07', '$32.68', '$15.98', '$34.83', '$13.03', '$18.28', '$24.71', '$21.16', '$28.97', '$22.49', '$5.75', '$16.32', '$22.75', '$40.17', '$27.28', '$12.03', '$21.01', '$12.46', '$11.35', '$15.38', '$44.3', '$22.42', '$20.92', '$15.36', '$20.49', '$25.21', '$18.24', '$14.31', '$14.0', '$7.25', '$38.07', '$23.95', '$25.71', '$17.31', '$29.93', '$10.65', '$12.43', '$24.08', '$11.69', '$13.42', '$14.26', '$15.95', '$12.48', '$29.8', '$8.52', '$14.52', '$11.38', '$22.82', '$19.08', '$20.27', '$11.17', '$12.26', '$18.26', '$8.51', '$10.33', '$14.15', '$16.0', '$13.16', '$17.47', '$34.3', '$41.19', '$27.05', '$16.43', '$8.35', '$18.64', '$11.87', '$9.78', '$7.51', '$14.07', '$13.13', '$17.26', '$24.55', '$19.77', '$29.85', '$48.17', '$25.0', '$13.39', '$16.49', '$21.5', '$12.66', '$16.21', '$13.81', '$17.51', '$24.52', '$20.76', '$31.71', '$10.59', '$10.63', '$50.81', '$15.81', '$7.25', '$31.85', '$16.82', '$32.9', '$17.89', '$14.48', '$9.6', '$34.63', '$34.65', '$23.33', '$45.35', '$23.17', '$40.55', '$20.69', '$20.9', '$30.46', '$18.15', '$23.1', '$15.69', '$19.81', '$28.44', '$15.48', '$16.58', '$7.56', '$10.34', '$43.11', '$13.0', '$13.51', '$18.71', '$12.74', '$13.0', '$16.4', '$20.53', '$16.47', '$26.59', '$38.73', '$24.27', '$12.76', '$30.06', '$25.89', '$48.33', '$13.27', '$28.17', '$12.9', '$28.15', '$11.59', '$7.74', '$30.14', '$12.16', '$13.42', '$8.58', '$15.98', '$13.42', '$16.27', '$10.09', '$20.45', '$13.28', '$22.12', '$24.01', '$15.69', '$11.61', '$10.77', '$15.53', '$10.07', '$12.6', '$32.83', '$35.83', '$29.03', '$27.18', '$22.67', '$17.82', '$18.78']
tips.head()

   total_bill   tip     sex smoker  day    time  size sex_recode total_dollar
0       16.99  1.01  Female     No  Sun  Dinner     2          0       $16.99
1       10.34  1.66    Male     No  Sun  Dinner     3          1       $10.34
2       21.01  3.50    Male     No  Sun  Dinner     3          1       $21.01
3         NaN  3.31    Male     No  Sun  Dinner     2          1       $23.68
4       24.59  3.61  Female     No  Sun  Dinner     4          0       $24.59

In [12]:
# Write the lambda function using replace
tips['total_dollar_replace'] = tips.total_dollar.apply(lambda x: x.replace('$', ''))

# Write the lambda function using regular expressions
tips['total_dollar_re'] = tips.total_dollar.apply(lambda x: re.findall('\d+\.\d+', x))

# Print the head of tips
print(tips.head())

   total_bill   tip     sex smoker  day    time  size sex_recode total_dollar  \
0       16.99  1.01  Female     No  Sun  Dinner     2          0       $16.99
1       10.34  1.66    Male     No  Sun  Dinner     3          1       $10.34
2       21.01  3.50    Male     No  Sun  Dinner     3          1       $21.01
3         NaN  3.31    Male     No  Sun  Dinner     2          1       $23.68
4       24.59  3.61  Female     No  Sun  Dinner     4          0       $24.59

  total_dollar_replace total_dollar_re
0                16.99         [16.99]
1                10.34         [10.34]
2                21.01         [21.01]
3                23.68         [23.68]
4                24.59         [24.59]

## Duplicate and missing data
### Duplicate and missing data

Duplicate data causes a variety of problems. From the point of view of performance, they use up unnecessary amounts of memory and cause unneeded calculations to be performed when processing data. In addition, they can also bias any analysis results.

A dataset consisting of the performance of songs on the Billboard charts has been pre-loaded into a DataFrame called billboard. Check out its columns in the IPython Shell. Your job in this exercise is to subset this DataFrame and then drop all duplicate rows.

In [13]:
billboard = pd.DataFrame({
    'year': [2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000],
    'artist': ['2Ge+her', '2 Pac', '3 Doors Down', '3 Doors Down', '504 Boyz', '98?', 'Aaliyah', 'Aaliyah', 'Adams, Yolanda', 'Adkins, Trace'],
    'track': ['The Hardest Part Of ...', "Baby Don't Cry", 'Kryptonite', 'Loser', 'Wobble Wobble', 'Give Me Just One Nig...', "I Don't Wanna", 'Try Again', 'Open My Heart', 'More']
})

In [15]:
# Create the new DataFrame: tracks
tracks = billboard[['year', 'artist']]

# Print info of tracks
print(tracks.info())

# Drop the duplicates: tracks_no_duplicates
tracks_no_duplicates = tracks.drop_duplicates()

# Print info of tracks
print(tracks_no_duplicates.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
year      10 non-null int64
artist    10 non-null object
dtypes: int64(1), object(1)
memory usage: 240.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8 entries, 0 to 9
Data columns (total 2 columns):
year      8 non-null int64
artist    8 non-null object
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes
None

### Filling missing data
Here, you'll return to the airquality dataset from Chapter 2. It has been pre-loaded into the DataFrame airquality, and it has missing values for you to practice filling in. Explore airquality in the IPython Shell to checkout which columns have missing values.

It's rare to have a (real-world) dataset without any missing values, and it's important to deal with them because certain calculations cannot handle missing values while some calculations will, by default, skip over any missing values.

Also, understanding how much missing data you have, and thinking about where it comes from is crucial to making unbiased interpretations of data.

In [17]:
import numpy as np

airquality = pd.DataFrame({
    'Ozone': [41.0, 36.0, 12.0, np.nan, np.nan, np.nan, 23.0, np.nan, 8.0, np.nan],
    'Wind': [7.4000000000000004, 8.0, 12.6, 11.5, 14.300000000000001, 14.9, 8.5999999999999996, 13.800000000000001, 20.100000000000001, 8.5999999999999996],
    'Day': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
})

In [18]:
# Calculate the mean of the Ozone column: oz_mean
oz_mean = airquality.Ozone.mean()

# Replace all the missing values in the Ozone column with the mean
airquality['Ozone'] = airquality.Ozone.fillna(oz_mean)

# Print the info of airquality
print(airquality.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
Day      10 non-null int64
Ozone    10 non-null float64
Wind     10 non-null float64
dtypes: float64(2), int64(1)
memory usage: 320.0 bytes
None

## Testing with asserts
### Testing your data with asserts
Here, you'll practice writing assert statements using the Ebola dataset from previous chapters to programmatically check for missing values and to confirm that all values are positive. The dataset has been pre-loaded into a DataFrame called ebola.

In the video, you saw Dan use the .all() method together with the .notnull() DataFrame method to check for missing values in a column. The .all() method returns True if all values are True. When used on a DataFrame, it returns a Series of Booleans - one for each column in the DataFrame. So if you are using it on a DataFrame, like in this exercise, you need to chain another .all() method so that you return only one True or False value.

Note: You can use pd.notnull(df) as an alternative to df.notnull().

In [21]:
ebola = pd.DataFrame({'Date': ['1/5/2015', '1/4/2015', '1/3/2015', '1/2/2015', '12/31/2014'],
                      'Day': [289, 288, 287, 286, 284],
                      'Cases_Guinea': [2776.0, 2775.0, 2769.0, 2773.0, 2730.0],
                      'Deaths_Liberia': [3496.0, 3496.0, 3496.0, 3496.0, 3471.0]
    
})

In [22]:
# Assert that there are no missing values
assert ebola.notnull().all().all()

In [23]:
# Assert that all values are >= 0
assert (ebola >= 0).all().all()